<% provide(:title, 'All users') %>
<div class='page-header'>
  <h1 class='pull-left'>
    <i class='icon-list'></i>
    <span>用户列表</span>
  </h1>
</div>
<div class='row-fluid'>
  <div class='span12 box bordered-box orange-border' style='margin-bottom:0;'>
    <div class='box-header purple-background'>
      <div class='title'>用户信息表</div>
      <div class='actions'>
        <a href="#" class="btn box-remove btn-mini btn-link"><i class='icon-remove'></i>
        </a>
        <a href="#" class="btn box-collapse btn-mini btn-link"><i></i>
        </a>
      </div>
    </div>
    <div class='box-content box-no-padding'>
      <div class='responsive-table'>
        <div class='scrollable-area'>
          <table class='data-table-column-filter table table-bordered table-striped table-hover' style='margin-bottom:0;'>
            <thead>
              <tr>
                <th>
                  用户名
                </th>
                <th>
                  邮箱地址
                </th>
                <th>
                  所属分支机构
                </th>
                <th>
                  角色
                </th>
                <th>
                  创建时间
                </th>
                <th>
                  操作
                </th>
              </tr>
            </thead>
            <tbody>
              <%= render @users %>
            </tbody>
            <tfoot>
              <tr>
                <th>用户名</th>
                <th>邮箱地址</th>
                <th>所属分支机构</th>
                <th>角色</th>
                <th colspan='2'>创建时间</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>