<nav class='' id='main-nav'>
  <div class='navigation'>
    <ul class='nav nav-stacked'>
      <li class='active'>
        <%= link_to home_path do %>
          <i class='icon-dashboard'></i>
          <span>主页</span>
        <% end %>
      </li>
      <li>
        <a class='dropdown-collapse' href='#'>
          <i class='icon-cogs'></i>
          <span>个人资料管理</span>
          <i class='icon-angle-down angle-down'></i>
        </a>
        <ul class='nav nav-stacked'>
          <li>
            <%= link_to current_user do %>
              <i class='icon-user'></i>
              <span>查看</span>
            <% end %>
          </li>
          <li>
            <%= link_to edit_user_path(current_user) do %>
              <i class='icon-wrench'></i>
              <span>编辑</span>
            <% end %>
          </li>
        </ul>
      </li>
      <li class='active'>
        <%= link_to signout_path, method: "delete" do %>
          <i class='icon-signout'></i>
          <span>登出</span>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
